*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.block{
    display: block;
}

.red-font{
    color: rgb(203,17,17);
}

.button-shadow{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: .8em;
    padding: 5px;
    color: black;
    border: 1px solid black;
    box-shadow: 3px 2px 0 black;}

.lets-go-button{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: .8em;
    padding:5px;
    color: black;
    background-color: palegreen;
    border: 1px solid black;
    border-radius: 0;
    box-shadow: 3px 2px 0 black;
}

#stats-button{
    margin-top: 15px;
    margin-bottom: 5px;
    color: black;
    font-size: .8em;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 3px 2px 0 black;
    background-color: rgb(164,148,204);
}

.div-border{
    border: 3px solid black;
}
