<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1>Add an Author</h1>
    <form action="/add_author" method="post">
        {% csrf_token %}
    <!-- input field for first name -->
        <label for="first_name">First Name</label>
        <input type="text" name="First_name">
    <!-- input field for last name -->
        <label for="last_name">Last Name</label>
        <input type="text" name="Last_name">
    <!-- input field for notes -->
        <label for="notes">Notes</label>
        <input type="text" name="notes">
    <!-- submit button to add author to database -->
        <button type="submit">Add</button>
    </form>

    <!-- table with columns: author_id, first+last name, action(link to template displaying author bio) -->
    <table>
        <th>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Action</td>
            </tr>
        </th>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{author.id}}</td>
                <td>{{author.first_name}} {{author.last_name}}</td>
                <td><a href="/authors/{{author.id}}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>