<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1>{{book.title}}</h1>
    <h4>ID: {{book.id}}</h4>
    <h4>Description:  
        <p>{{book.desc}}</p>
    </h4>
    
    <h4>Authors</h4>
    <ul>
        {% for author in book.authors.all %}
        <li>{{ author.first_name }} {{ author.last_name }}</li>
        {% endfor %}
    </ul>

    <!-- dropdown list add book/author link -->
    <form action="/add_author_to_book" method="post">
        {% csrf_token %}
        <select name="author" id="">
            <!-- for loop to autofill list of authors or books -->
            {% for author in authors %}
            <option value="{{author.id}}">{{ author.first_name}} {{ author.last_name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" value="{{book.id}}" name="book_id">
        <button type="submit">Add</button>
    </form>

</body>
</html>